.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
img {
  width: 40%;
}
.imageIcon {
  width: 200px;
  height: 180px;
  margin-left: 80px;
}
h1 {
  font-size: 34px;
  margin-left: 60px;
  font-weight: 600;
}
