


<!-- <div class="container">
<div class="col-4">
<img src="../assets/cover-main1.jpg">
</div>
<div class="col-4">
    <h1 style="font-size: xx-large;"><b>The House Of Book</b></h1>
</div>
</div> -->
<app-nav></app-nav>
<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <img src="../assets/cover-main1.jpg" >
   </mat-grid-tile>
   <mat-grid-tile class="col2"><h1>Welcome To Book House  <img src="./assets/book-icon2.jpg"   class="bg"></h1>
  

    
  </mat-grid-tile>
 
      

<router-outlet></router-outlet>
