
<h1><b>{{actionbtn}}</b></h1>

<div class="container">
    <div style="margin-top: 10px;">

        <form [formGroup]="myBookForm">
            <!-- <mat-form-field appearance="standard">
            <mat-label>Search here...</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="search by id,name,author" #input>
        </mat-form-field> -->
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="issuedId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Issued Id </th>
                        <td mat-cell *matCellDef="let row"> {{row.issuedId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="bookName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> BooKName </th>
                        <td mat-cell *matCellDef="let row"> {{row.bookName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="issueDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Issued Date </th>
                        <td mat-cell *matCellDef="let row"> {{row.issueDate }} </td>
                    </ng-container>

                    <ng-container matColumnDef="returnDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Return Date </th>
                        <td mat-cell *matCellDef="let row"> {{row.returnDate }} </td>
                    </ng-container>


                    <!-- {{this.dateReminder(row.returnDate)}} -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button color="primary">
                                Return<mat-icon>send_time_extension</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
            </div>
        </form>

    </div>
</div>


<ag-grid-angular

style="width: 80%; height: 250px; margin: 80px 50px;"

class="ag-theme-alpine-dark"

[rowData]="data"

[columnDefs]="colDefs"

[defaultColDef]="defaultColDef"

[pagination]="true"

[paginationPageSize]="6"

[animateRows]="true"

>

