<p>float-button works!</p>

<h1>Floating button</h1>
<div class="mat-container">
    
<div class="mat mat-icon-holder">
    <!-- <i class="fas fa-question"></i> -->
    <mat-icon>dashboard</mat-icon>
</div>
<ul class="mat-options">
    <li>
        <span class="mat-label">Issued Books</span>
        <div class="mat-icon-holder">
            
            <mat-icon>library_books</mat-icon>
        </div>
    </li>

    <li>
        <span class="mat-label">Request List</span>
        <div    class="mat-icon-holder">
            
            <mat-icon>speaker_notes</mat-icon>
        </div>
    </li>

  
    <li>
        <span class="mat-label">Add Book</span>
        <div  class="mat-icon-holder">
           
            <mat-icon>control_point</mat-icon>
        </div>
    </li>

    <li>
        <span class="mat-label">User List</span>
        <div class="mat-icon-holder">
          
            <mat-icon  >people_outline</mat-icon>
        </div>
    </li>
</ul>
</div>
