<!-- <app-navbar></app-navbar> -->
<div class="rows">
  
  <h1>List Of Books</h1>
  
  <div class="search">
    <form action="#">
        <input type="text" [(ngModel)]="term" placeholder="Search Book here..."name="search">
    </form>
</div>

  <!-- <div class="row" > -->
   <form [formGroup]="Form">
  <mat-card-content class="row" >
    <mat-card class="col-md-2" *ngFor="let item of books | filter:term" class="col-md-2" fxLayoutGap="5px" style="margin-left: 5px ;">
        
    
      
         
          <mat-card-title >{{item.bookName}}</mat-card-title>
          
          <img mat-card-lg-image src={{item.image}} >
          <mat-card-content>
            {{item.Author}}
          </mat-card-content>

          <mat-card-content>
            <span>bookId:-</span>{{item.bookId}}
          </mat-card-content>
  
          <mat-card-content>
            <span>Author name:-</span>{{item.authorName }}
          </mat-card-content>
  
          <mat-card-content>
            <span>Quantity:-</span>{{item.bookQuantity }}   
          </mat-card-content>


          <mat-card-content>
           

            <button mat-icon-button  color="primary" style="margin-right:50px">
              Request <mat-icon (click)="sendRequest(item)">send</mat-icon>
            </button>
          
          </mat-card-content>
    
        
        </mat-card>
    </mat-card-content>
  </form>
