

.search input[type=text]{
  width:25%;
  height:25px;
  outline: black;
  border-radius:25px;
  margin-left: 10%; 
  
  margin-top: 30px;
}

.col-md-2{
  width: 22%;

}


.example-card {
  min-width: 400px;
  display: inline-block;
  
}

.example-header-image {
  background-size: cover;
}
.books{
  display: inline-block;
}
.width{
  width: 300px;
  height: 20px;
}
h1{
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  margin-top: 30px;
}

.rows{
  background-image: url("/src/assets/images/cover-main1.jpg");
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
.row{
  display: flex;
  justify-content: space-around ;
  flex-wrap: wrap;
  margin-bottom: 90px;

 
}

.column {

  float: left;

  width: 30%;

  padding: 0 10px;

}



/* Remove extra left and right margins, due to padding in columns */

.row {margin: 0 ;
  max-width: 80%;
  margin-left: 10%;

margin-top: 30px;}



/* Clear floats after the columns */

.row:after {

  content: "";

  display: table;

  clear: both;

}



/* Style the counter cards */

mat-card{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */

 

  text-align: center;

  background-color: #f1f1f1;

  box-sizing: border-box;

  color: black;

  margin-left: 30px;
  margin-bottom: 20px;
 

 

}

@media screen and (max-width: 600px) {

  .column {

    width: 100%;

    display: block;

    margin-bottom: 20px;

  }



  mat-select {

    color: black;

  }




 

}

.main-container{

 

  margin-left: 35%;

 

}

mat-label{

  color: black !important;

 

}



mat-form-field{

 

  background-color: grey;

   border-radius: 6px;

}





















