<mat-card class="outer-box">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>person_add</mat-icon>
      Register Here!!!
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm" class="my-form">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input
            formControlName="FirstName"
            matInput
            placeholder="Enter First Name"/>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            placeholder="Enter Last Name"
            formControlName="LastName"/>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Email Id</mat-label>
          <input
            type="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            matInput
            placeholder="email"
            formControlName="Email"/>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Role</mat-label>
          <select matNativeControl required formControlName="RoleId">
            <option value="1">Admin</option>
            <option value="2">User</option>
          </select>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="standard">
          <mat-label>Gender</mat-label>
          <select
            matNativeControl
            required
            formControlName="Gender"
            placeholder="Gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="standard">
          <mat-label>City</mat-label>
          <input
            type="string"
            matInput
            placeholder="Gender"
            formControlName="City" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Mobile No</mat-label>
          <input
            type="string"
            matInput
            placeholder="Mobile No"
            formControlName="Contact" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="password"
            formControlName="Password" />
        </mat-form-field>
      </p>

      <p class="terms">
        <mat-checkbox #confirmed>**Terms & conditions apply</mat-checkbox>
      </p>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!confirmed.checked"
      (click)="register()">
      Register
    </button>
    <span (click)="login()">Already have an account?</span>
  </mat-card-actions>
</mat-card>
