<mat-card class="outer-box">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>person_add</mat-icon>
      Register Here!!!
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm" class="my-form">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput placeholder="Enter First Name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Enter Last Name" formControlName="lastName">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Email Id</mat-label>
          <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" matInput placeholder="email"
            formControlName="email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Role</mat-label>
          <select matNativeControl required formControlName="role">
            <option value="admin">Admin</option>
            <option value="user">User</option>
          </select>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Mobile No</mat-label>
          <input type="number" matInput placeholder="Mobile No" formControlName="mobileNo">
          <mat-hint>Mobile No</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="password" formControlName="password">
        </mat-form-field>
      </p>
 
      <p class="terms">
        <mat-checkbox #confirmed>**Terms & conditions apply</mat-checkbox>
      </p>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="!confirmed.checked" (click)="register()">Register</button>
    <a routerLink="">Already have an account?</a>
  </mat-card-actions>
</mat-card>