
.mat-form-field{
    width: 100%;
  }
  .mat-card-title{
    text-align: center;
   
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .container{
    margin-top: 30px;
  }

 
  