<mat-sidenav-container class="container">
  <mat-sidenav #sidebar mode="side" opened>
    <app-user-navbar></app-user-navbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <div class="toolbar">
        <mat-toolbar>
          <a (click)="showsSidebar = !showsSidebar" class="toggle-btn">
            <span
              *ngIf="showsSidebar"
              (click)="sidebar.close()"
              class="material-icons close">
              arrow_back_ios
            </span>
            <span
              *ngIf="!showsSidebar"
              (click)="sidebar.open()"
              class="material-icons">
              menu
            </span>
          </a>
          <span style="margin-left: -8rem">
            Book House<mat-icon>library_books</mat-icon>
          </span>
          <span class="example-spacer"></span>
          <a mat-button routerLink=""><mat-icon>logout</mat-icon>LogOut</a>
        </mat-toolbar>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
