
<div class="container">
    <div class="left-box">
        <img src="../../../assets/images/aboutusc.jpg">
    </div>
    <div class="right-box">
        <div class="contact-box">
            <h1>Contact Us</h1>
            <p>
                <button mat-icon-button>
                    <mat-icon >email</mat-icon>
                    <span class="email">  bookhouse@gmail.com</span>
                </button>
            </p>
            <p>
                <button mat-icon-button>
                    <mat-icon>call</mat-icon>
                   <span>8208773452,7773908764.</span>
                </button>
            </p>

            <p>
                <button mat-icon-button>
                    <mat-icon>location_on</mat-icon>
                    <span>Bangalore.</span>
                </button>
            </p>
        </div>
    </div>
</div>
 
