
<div class="B">
  <!--CARDS 1-->
      <div class="example-ripple-container mat-elevation-z4" >
  
  
          <mat-card class="card">
              <mat-card-title>
                  <mat-icon style="font-size:80px;">book</mat-icon>
              </mat-card-title>
              <mat-card-content>
                  <p>Books Listed</p>
              </mat-card-content><br>
              <mat-card-actions>
                  <button mat-raised-button style="color: black;" (click)= "booklist()">Check</button>
              </mat-card-actions>
          </mat-card>
      </div>
      <!--CARDS 2-->
      <div class="example-ripple-container mat-elevation-z4" >
          <mat-card class="card">
              <mat-card-title>
                  <mat-icon style="font-size:80px;">auto_stories</mat-icon>
              </mat-card-title>
              <mat-card-content>
                  <p>Issued Books</p>
              </mat-card-content><br>
              <mat-card-actions>
                  <button mat-raised-button style="color: black;">Check</button>
              </mat-card-actions>
  
          </mat-card>
      </div>
      <!--CARDS 3-->
      <div class="example-ripple-container mat-elevation-z4" >
  
          <mat-card class="card">
              <mat-card-title>
                  <mat-icon style="font-size:80px;">people</mat-icon>
              </mat-card-title>
              <mat-card-content>
                  <p> Users List </p>
              </mat-card-content><br>
              <mat-card-actions>
                  <button mat-raised-button style="color: black;" (click)= "list()">Check</button>
              </mat-card-actions>
  
          </mat-card>
  
      </div>
      
      <div class="example-ripple-container mat-elevation-z4" >
  
          <mat-card class="card">
              <mat-card-title>
                  <mat-icon matBadge="6" matBadgeColor="warn" style="font-size:80px;">timer</mat-icon>
              </mat-card-title>
              <mat-card-content>
                  <p>Books Yet To Be Returned</p>
              </mat-card-content><br>
              <mat-card-actions>
                  <button mat-raised-button style="color: black;">Check</button>
              </mat-card-actions>
  
          </mat-card>
  
      </div>
  </div>
  <!--LAST CARD IS HERE-->
  <div class="c">
      <!--CARDS 5-->

  </div>
  